<% title "Project" %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
  <hr />
  <% @project.photos.each do |photo| %>
    <%= cl_image_tag photo.pic_url %>
  <% end %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
